{% extends "base.html" %}

{% block title %}
    Siparişi Tamamla
{% endblock %}

{% block content %}
    <h1>Siparişiniz</h1>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Ürün</th>
                <th>Miktar</th>
                <th>Birim Fiyat</th>
                <th>Toplam</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.items.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }} TL</td>
                    <td>{{ item.get_total_price }} TL</td>
                </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="3">Genel Toplam</td>
                <td>{{ cart.get_total_cost }} TL</td>
            </tr>
        </tbody>
    </table>

    <p>
        Sipariş bilgilerinizi giriniz.
        <form method="post">
            {% csrf_token %}
            <button type="submit">Siparişi Onayla ve Öde</button>
        </form>
    </p>
{% endblock %}